.bg-class {
    background-color: rgb(155, 193, 163);
}

.pfp {
  width: 150px;
  height: auto;
  display: block;
  float: left;
  margin: 0 16px 12px 0;   
}

.navbar{
  text-align: center;
  font-size: 18px;
}

.navbar a {
  color: rgb(4, 65, 23);
  text-decoration: none;
}

.navbar a.selected {
  font-weight: bold;
}

footer {
  margin-top: 50px;
}